
@keyframes stick-move {
    0%   { transform:  translateY(100%)rotateZ(0deg); }
    100% { transform:  translateY(0%) rotateZ(-10deg); }
  }

.stick-result-move {
    width: 70px;
    animation: stick-move 2s ease-out forwards;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.stick-result-move img{
    width: 100%;
}

.stick-result-move p {
    position: absolute;
    text-align: center;
    color: #f5e6b7;
    font-weight: 500;
    font-size: 20px;
    font-family:fantasy;
    background-color:#28347b;
    padding: 5px;
    border-radius: 20px;
    border: 3px solid #5f6cb7;
}

