.btn {
    width: 150px;
    height: 45px;
    font-size: 1em;
    border: none;
    border-radius: 40px;
    margin: 20px;
    display: block;
    text-align: center;
    background-color: #FFF;
    color: black;
    transition: 0.5s ease-in-out;
}

.btn:hover{
    background-color: #f2d883;
    color: #262324;
    border: none;
}

.container1 p {
    margin: 30px;
    font-size: 1.3em;
    text-align: center;
    color: white;
    text-shadow: 
        0 0 5px black,
        0 0 10px black,
        0 0 15px black,
        0 0 20px black;
}