

.select-container {
    display: flex;
    gap: 30px;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.select-card {
    width: 250px;
    height: 350px;
    border-radius: 10%;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); */
    /* border: 0.5px solid white; */
    transition: all 0.3s ease-in-out;
    
    
}

.container1 span{
    color: #f2d883;
}

.btn-select {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    border: none;
    /* background-color: #2a2a32; */
    /* background: linear-gradient(0deg, #00000000, #1a1a1a00, #515258); */
    background: linear-gradient(0deg, #00000000, #2b2c37);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    
}

.btn-select img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    transition: all 0.3s ease-in-out;

}

.btn-select h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.btn-select p {
    font-size: 13px;
    font-weight: 300;
    margin-top: 10px;
    color: white;
}

.select-card:hover {
    width: 275px;
    height: 385px;
}

.select-card:first-child:hover{
    transform:translateX(-20px) translateY(-5px);
}

.select-card:last-child:hover{
    transform:translateX(12px) translateY(-5px) ;
}

.select-card:first-child:hover img{
    transform:rotateZ(-5deg);
    width: 80%;
    height: 80%;
}

.select-card:last-child:hover img{
    transform:rotateZ(5deg);
    width: 80%;
    height: 80%;
}






/* ............... */



.select-card-box {
    width: 200px;
    height: 320px;
    border-radius: 5%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    /* border: 0.5px solid white; */
    transition: all 0.4s ease-in-out;
}

.btn-select-tarot {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    border: none;
    background-color: #262324;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-select-tarot p , .btn-select-tarot h3{
    color: white;
    text-shadow: none;
}

.btn-select-tarot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.select-card-box:hover {
    width: calc(200px*1.1);
    height: calc(320px*1.1);
}

.select-card-box:first-child:hover {
    transform:translateX(-20px) translateY(-20px) rotateZ(-5deg);
}

.select-card-box:hover {
    transform:translateY(-20px) rotateZ(5deg);
}

.select-card-box:last-child:hover {
    transform:translateY(-20px) rotateZ(5deg);
}

.btn-back {
    padding: 5px 20px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 30px;
    color: white;
    margin-top: 20px;
    transition: 0.2s ease-in-out;
}

.btn-back:hover {
    background-color: #f2d883;
    color: #262324;
    border: none;
    
}



@media (max-width: 739px) {

    .select-card-box ,.select-card-box:hover{
        width: 125px;
        height: 200px;
    }

}

@media (max-width: 589px) {

    .select-container{
        gap: 10px;
    }

    .select-container-tarot{
        gap: 10px;
        padding: 10px;
    }

    .select-card,.select-card:hover  {
        width: 38vw;
        height: 53vw;
        margin-top: 10px;
    }

    .btn-select h3 {
        font-size: 20px;
        font-weight: 600;
        margin-top: 10px;
    }
    
    .btn-select p {
        font-size: 10px;
        font-weight: 300;
        margin-top: 10px;
        color: white;
    }



}



